<div id="skipnav"><a href="#page-top">Skip to main content</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom"
     [ngClass]="{'affix':isShrunk}">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>

      <a class="navbar-brand" href="#about">
        <img class="img-responsive logo-header" src="assets/img/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll">
          <a pageScroll href="#about" routerLink="">{{ 'ABOUT' | translate }}</a>
        </li>
        <li class="page-scroll">
          <a pageScroll href="#courses" routerLink="">{{ 'COURSES' | translate }}</a>
        </li>
        <li class="page-scroll">
          <a pageScroll href="#contact" routerLink="">{{ 'CONTACT' | translate }}</a>
        </li>
        <li class="dropdown toogle-language">
          <i class="dropdown-toggle" id="selectLanguage" style=" color: white"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="toogle-language-icon">
              <i class="toogle-language-icon fa fa-language fa-2x"></i>
              <i class="toogle-language-icon caret"></i>
            </span>
          </i>
          <ul class="dropdown-menu" aria-labelledby="selectLanguage">
            <li class="language-item" (click)="setLanguage('english', 'en')"
                [ngClass]="{'active' : language === 'english'}">
              {{ 'ENGLISH' | translate }}
            </li>
            <li class="language-item" (click)="setLanguage('spanish', 'es')"
                [ngClass]="{'active' : language === 'spanish'}">
              {{ 'SPANISH' | translate }}
            </li>
            <li class="language-item" (click)="setLanguage('portuguese', 'pt')"
                [ngClass]="{'active' : language === 'portuguese'}">
              {{ 'PORTUGUESE' | translate }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll" *ngIf="isShrunk">
  <a class="btn btn-primary" pageScroll href="#about">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
